body{
  background-color: #000;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar
{
  background-color: black;
  display: flex;
  justify-content: center;
}
.navbar a
{
  color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 28px;
}
.navbar a:hover
{
  background-color: white;
  color: black;
}
.inactiveLink {
  pointer-events: none;
  cursor: default;
}
#toggle
{
  display: none;
}
.togglearea
{
  background-color: black;
  border-bottom: 2px solid white;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.togglearea label
{
  background-color: white;
  height: 45px;
  width: 50px;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.togglearea label span
{
  background-color: black;
  height: 4px;
  width: 70%;
  margin: 2px 0px;
}
.togglearea
{
  display: none;
}

.whole-box{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 89.27vh;
  font-family: sans-serif;
}
.box{
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;background: #060c21;
}
.box:before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.box:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.box:before,
.box:after{
  background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}
.content{
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}
.context p{
  font-family: sans-serif;
}
@media screen and (max-width: 700px)
{
  .navbar
  {
    flex-direction: column;
    display: none;
  }
  #toggle:checked + .navbar
  {
    display: flex;
  }
  .togglearea
  { 
    display: flex;
  }
}